In [3]:
!pip install geopandas

Requirement already satisfied: geopandas in c:\users\ataca\anaconda3\lib\site-packages (0.13.0)
Requirement already satisfied: pandas>=1.1.0 in c:\users\ataca\anaconda3\lib\site-packages (from geopandas) (1.5.3)
Requirement already satisfied: shapely>=1.7.1 in c:\users\ataca\anaconda3\lib\site-packages (from geopandas) (2.0.1)
Requirement already satisfied: fiona>=1.8.19 in c:\users\ataca\anaconda3\lib\site-packages (from geopandas) (1.9.3)
Requirement already satisfied: pyproj>=3.0.1 in c:\users\ataca\anaconda3\lib\site-packages (from geopandas) (3.5.0)
Requirement already satisfied: packaging in c:\users\ataca\anaconda3\lib\site-packages (from geopandas) (22.0)
Requirement already satisfied: click~=8.0 in c:\users\ataca\anaconda3\lib\site-packages (from fiona>=1.8.19->geopandas) (8.0.4)
Requirement already satisfied: certifi in c:\users\ataca\anaconda3\lib\site-packages (from fiona>=1.8.19->geopandas) (2022.12.7)
Requirement already satisfied: click-plugins>=1.0 in c:\users\ataca\anaconda3\lib\site-packages (from fiona>=1.8.19->geopandas) (1.1.1)
Requirement already satisfied: munch>=2.3.2 in c:\users\ataca\anaconda3\lib\site-packages (from fiona>=1.8.19->geopandas) (2.5.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ataca\anaconda3\lib\site-packages (from fiona>=1.8.19->geopandas) (22.1.0)
Requirement already satisfied: cligj>=0.5 in c:\users\ataca\anaconda3\lib\site-packages (from fiona>=1.8.19->geopandas) (0.7.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ataca\anaconda3\lib\site-packages (from pandas>=1.1.0->geopandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ataca\anaconda3\lib\site-packages (from pandas>=1.1.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ataca\anaconda3\lib\site-packages (from pandas>=1.1.0->geopandas) (2022.7)
Requirement already satisfied: colorama in c:\users\ataca\anaconda3\lib\site-packages (from click~=8.0->fiona>=1.8.19->geopandas) (0.4.6)
Requirement already satisfied: six in c:\users\ataca\anaconda3\lib\site-packages (from munch>=2.3.2->fiona>=1.8.19->geopandas) (1.16.0)

In [6]:
!pip install glob2

Requirement already satisfied: glob2 in c:\users\ataca\anaconda3\lib\site-packages (0.7)

In [11]:
import pandas as pd
import geopandas as gpd

from glob import glob

In [16]:
files = glob("data/*.csv")
len(files)

1

In [17]:
file = files[0]

In [18]:
df = pd.read_csv(file)

In [19]:
df.head()

,Unnamed: 0,name,iata,icao,lat,lon,country,alt
0,0,A Coruna Airport,LCG,LECO,43.302059,-8.377250,Spain,326
1,1,Aachen Merzbruck Airport,AAH,EDKA,50.823051,6.186111,Germany,623
2,2,Aalborg Airport,AAL,EKYT,57.092781,9.849164,Denmark,10
3,3,Aarhus Airport,AAR,EKAH,56.300011,10.619000,Denmark,82
4,4,Aarhus Sea Airport,QEA,EKAC,56.151993,10.247725,Denmark,1

In [21]:
gdf = gpd.GeoDataFrame(df, geometry= gpd.points_from_xy(df.lon, df.lat), crs=4326)

In [22]:
gdf.head()

,Unnamed: 0,name,iata,icao,lat,lon,country,alt,geometry
0,0,A Coruna Airport,LCG,LECO,43.302059,-8.377250,Spain,326,POINT (-8.37725 43.30206)
1,1,Aachen Merzbruck Airport,AAH,EDKA,50.823051,6.186111,Germany,623,POINT (6.18611 50.82305)
2,2,Aalborg Airport,AAL,EKYT,57.092781,9.849164,Denmark,10,POINT (9.84916 57.09278)
3,3,Aarhus Airport,AAR,EKAH,56.300011,10.619000,Denmark,82,POINT (10.61900 56.30001)
4,4,Aarhus Sea Airport,QEA,EKAC,56.151993,10.247725,Denmark,1,POINT (10.24773 56.15199)

In [24]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.6-cp310-cp310-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 433.5 kB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6

In [27]:
!pip install geoalchemy2

Collecting geoalchemy2
  Downloading GeoAlchemy2-0.13.2-py3-none-any.whl (43 kB)
     ---------------------------------------- 43.0/43.0 kB 1.1 MB/s eta 0:00:00
Requirement already satisfied: packaging in c:\users\ataca\anaconda3\lib\site-packages (from geoalchemy2) (22.0)
Requirement already satisfied: SQLAlchemy>=1.4 in c:\users\ataca\anaconda3\lib\site-packages (from geoalchemy2) (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ataca\anaconda3\lib\site-packages (from SQLAlchemy>=1.4->geoalchemy2) (2.0.1)
Installing collected packages: geoalchemy2
Successfully installed geoalchemy2-0.13.2

In [28]:
from sqlalchemy import create_engine

# Veritabanı bağlantısı için gerekli bilgileri girin
hostname = 'localhost'  # PostgreSQL sunucusunun adresi
username = 'postgres'  # PostgreSQL kullanıcı adı
password = '123456'  # PostgreSQL şifre
database = 'postgres'  # Bağlanmak istediğiniz veritabanının adı

# Veritabanı bağlantı URL'si oluştur
db_url = f'postgresql://{username}:{password}@{hostname}/{database}'

# Engine oluştur
engine = create_engine(db_url)

In [31]:
gdf.to_postgis("flights", engine)

ValueError: Table 'flights' already exists.